.find-room-component {
    max-width: 600px;
    font-size: 120%;
}

.submitButton {
    border-radius: 0 4px 4px 0;
    padding: 8px;
    background-color: #21662a;
    border: 1px solid;
    border-color: #666 #222 #222 #666;

    transition: background-color 0.2s;
}

.submitButton:hover {
    background-color: rgb(62, 155, 74);
}

.submitButton:active:not(:disabled){
    background-color: #1a5022;
    border-color: #222 #666 #666 #222;
}

.submitButton:disabled {
    background-color: #28382a;
}

.room-name-input {
    border-radius: 4px 0 0 4px;
    padding: 8px;
    border: 1px solid #222;
    border-right: 1px;
}